In [91]:
#importación de las bibliotecas a utilizar
import numpy as np
import pandas as pd

In [92]:
#Lectura del archivo CSV
Best_Players = pd.read_csv(r"C:\Users\valen\OneDrive\Documentos\GitHub\BestFootballPlayers\archivosCsv\Best Football Palyer of all time.csv",sep = ',')

In [93]:
#Exploración del Dataset
Best_Players. head (10)

,Unnamed: 0,Name,Born,Position,Debut Year,Nationality,Club
0,0,Pele,1940,Forward,1956,Brazil,New York Cosmos
1,1,Cristioano Ronaldo,1985,Forward,2002,Portugal,Manchester United
2,2,Lionel Messi,1987,Forward,2003,Argentina,Paris Saint Germain
3,3,Diego Maradona,1960,Midfilder,1976,Argentina,Newll's Old Boys
4,4,Franz Beckenbauer,1945,Defender,1964,Germany,New York Cosmos
5,5,Michel Platini,1995,Midfilder,1972,France,Juventus
6,6,Johan Cruyff,1947,Forward,1964,Netherlands,Levante
7,7,Ronaldo,1976,Forward,1993,Brazil,Corinthians
8,8,Marco van Basten,1964,Forward,1981,Netherlands,AC Milan
9,9,Eusebio,1942,Forward,1957,Portugal,New England Tea Men

In [94]:
#Confirmación de nulos en el dataset
Best_Players.isnull()

     Unnamed: 0  Name    Born  Position   Debut Year  Nationality    Club
0         False  False  False      False       False         False  False
1         False  False  False      False       False         False  False
2         False  False  False      False       False         False  False
3         False  False  False      False       False         False  False
4         False  False  False      False       False         False  False
..          ...    ...    ...        ...         ...           ...    ...
695       False  False  False      False       False         False  False
696       False  False  False      False       False         False  False
697       False  False  False      False       False         False  False
698       False  False  False      False       False         False  False
699       False  False  False      False       False         False  False

[700 rows x 7 columns]

In [95]:
#Para realizar una comprobación mas veeridica acerca de esos valores, se procede a contar los valores nulos
Best_Players.isnull().sum()

Unnamed: 0      0
Name            0
Born            0
Position        0
Debut Year      0
Nationality     0
Club            0
dtype: int64

Teniendo en cuenta el resultado anterior se confirma que el dastaset no tiene valores nulos.

Con la exploración indial del dataset, se confirmó que habian nombres mal escritos en la columna name, por lo cual se incian las siguientes acciones para confirmar la veracidad del a información

In [96]:
print(Best_Players.columns)

Index(['Unnamed: 0', 'Name ', 'Born', 'Position ', 'Debut Year',
       'Nationality ', 'Club'],
      dtype='object')

In [97]:
#Mostrar valores únicos en la columna
Nombres_Unicos = Best_Players['Name '].unique()
print(Nombres_Unicos)

['Pele ' 'Cristioano Ronaldo ' 'Lionel Messi ' 'Diego Maradona'
 'Franz Beckenbauer' 'Michel Platini' 'Johan Cruyff' 'Ronaldo'
 'Marco van Basten' 'Eusebio' 'Gred Muller ' 'Bobby Charlton '
 'Karl Heinz Rummenigee' 'Zinedine Zidane' 'Luisito Suarez '
 'Lothar Matthaus' 'Rudd Gullit' 'Lev Yashin' 'Andriy Shevchenko'
 'Raymond Kopa' 'Gianni Rivera' 'Bobby Moore ' 'Franco Baresi' 'Rivaldo '
 'Luis Figo' 'Florian Albert' 'Denis Law' 'Michael Owen' 'Roberto Baggio '
 'Robert Lewandowski' 'Hristo Stoichkov' 'Ferenc Puskas' 'Ronaldinho'
 'Paolo Rossi' 'Kaka' 'Luka Modric' 'Alfredo Di Stefano' 'Pavel Nedved'
 'Jean Pierre Papin' 'Oleg Blokhin' 'Garrincha' 'Kevin Keegan '
 'George Best' 'Allan Simonsen' 'Omar Sivoir' 'Josef Masopust'
 'Matthias Sammer' 'Fabio Cannavaro' 'Romario' 'Mario Kempes' 'Zico'
 'George Weah' 'Stanley Matthews' 'Igon Belanov' 'Paolo Maldini'
 'Jurgen Klinsmann' 'Kenny Dalglish' 'David Beckham' 'Thierry Henry'
 'Andres Iniesta' 'Dino Zoff' 'John Charles' 'Raul' 'Gianluigi Buffon'
 'Roberto Carlos' 'Gabriel Batistuta' 'Giacinto Facchetti' 'Gheorghe Hagi'
 'Frank Lampard' 'Gray Lineker' 'Paul Breitner' 'lan Rush'
 'Dennis Bergkamp' 'Preben Elkjaer' 'Eric Cantona' 'Deco' 'Gordon Banks'
 'Davor Suker' 'Rob Rensenbrink' 'Bernd Schuster' 'Luigi Riva'
 'Gunter Netzer' 'Alessandro Mazzola' 'Alain Giresse' 'Hans Kranki'
 'Helmut Rahn' 'Dejan Savicevic' 'Paulo Futre' 'Predrag Mijatovic'
 'Jean Tigana' 'Jairzinho' 'Rivelino' 'Giuseppe Meazza' 'Didi'
 'Billy Wright' 'Salvatore Schillaci' 'Darko Pancev' 'Xavi' 'Neymar'
 'Michael Laudrup' 'Zbigniew Boniek' 'Dragan Dzajic' 'Steven Gerrard'
 'Alan Shearer' 'Manuel Neuer' 'Peter Schmeichel' 'Ruud Krol'
 'Fernando Torres' 'Jimmy Greaves' 'Franck Ribery' 'Uwe Seeler'
 'Kazimierz Deyan' 'Frank Rijkaard' 'Oliver Kahn'
 'Karl Heinz Schnellinger' 'Just Fontaine' 'Amancio Amaro'
 'Emilio Butragurno' 'Antoine Griezmann' 'Andreas Brehme' 'Paul Gascoigne'
 'Ivo Viktor' 'Johnny Haynes' 'Roger Milla ' 'Jari Litmanen '
 'Duncan Edwards ' 'Jimmy Johnstone' 'Jose Luis Chilavert'
 'Claudio Caniggia ' 'Tostao' 'Tom Finney ' 'Ryan Giggs ' 'Wayne Rooney'
 'Didier Drogba' 'Zlatan Ibrahimovic' "Samuel Eto'o" 'Iker Casillas'
 'Karim Benzema' 'Alessandro Del Piero' 'Sergio Ramos' 'Rinat Dasayev'
 'Sergio Aguero' 'Luis Suarez' 'Ruud van Nistelrooy' 'Francisco Gento'
 'Arjen Robben' 'Cesc Fabregas' 'Kevin De Bruyne' 'Thomas Muller'
 'Yaya Toure ' 'Paul Scholes' 'Patrick Vieira ' 'Marcel Desailly'
 'David Villa' 'Lilian Thuram' 'Francesco Totti' 'Andrea Pirlo'
 'Petr Cech' 'Eden Hazard' 'Edinson Cavani' 'Pierre Emerick Aubameyang'
 'Harry Kane' 'Michael Ballack' 'Berti Vogts' 'Robin van Persie'
 'Mesut Ozil' 'Kylian Mbappe' 'Bastian Schweinsteiger' 'John Terry'
 'Toni Kroos' 'Gareth Bale' 'Christian Vieri' 'Philipp Lahm '
 'Peter Shilton ' 'Ferenc Bene' 'Rudi Voller' 'Fabien Barthez'
 'Bryan Robson' 'Johan Neeskens' 'Edwin van der Sar' 'Thibaut Courtois'
 'Mario Gotze' 'Paul Pogba' 'Hugo Lloris' 'Radamel Falcao'
 'Miroslav Klose' 'David Seaman' 'Sadio Mane' 'Jimmy Floyd Hasselbaink'
 'Edin Dzeko' 'Andy Cole' 'David de Gea' 'Ian Wright' 'Neville Southall'
 'Michael Essien' 'Diego Forlan' 'Arturo Vidal' 'Jan Ceulemans'
 'Dimitar Berbatov' 'Wolfgang Overath' 'Dwight Yorke' 'Jamie Vardy'
 'David Trezeguet' 'Sami Hyypia' 'Emmanuel Adebayor' 'Patrick Kluivert'
 'John Barnes' 'Xabi Alonso' 'William Gallas' 'Grzegorz Lato' 'Diego'
 'Joe Cole' 'Jens Lehmann' 'Fernando Hierro' 'Carlos Tevez' 'Robert Pires'
 'Gianluca Vialli ' 'Dimitri Payet' 'Thiago Silva' 'James Rodriguez'
 'Roberto Firmino' 'Marcelo' 'Mats Hummels' 'Angel Di Maria' 'Roy Keane'
 'Hernan Crespo' 'Mario Manfzukic' 'David Platt' 'Gianfranco Zola'
 'Lukas Podolski' 'Mohamed Salah' 'Peter Beardsley' 'Tomas Brolin '
 'Alexis Sanchez' 'Paul McGrath' 'Mario Balotelli' 'Philippe Coutinho'
 'Tim Cahill' 'Emmanuel Petit' 'Park Ji Sung ' 'Florent Malouda'
 'Rio Ferdinand' 'Paul Van Himst' 'Nemanja Vidic' 'Riyad Mahrez '
 'Harry Kewell' 'Mark Hughes' 'Sol Campbell' 'Nwankwo Kanu' 'Kurt Hamrin'
 'Tibor Nilasi' 'Horst Szymaniak' 'Pirri' 'Marius Tresor' 'Andreas Moller'
 'Tomas Rosicky' 'Claude Makelele' 'Thiago Alcantara'
 'Rafael van der Vaart' 'Enzo Scifo' 'Hristo Bonev' 'Oleksandr Zavarov'
 'Sepp Maier' 'Juan Alberto Schiaffino' 'Laurent Blanc'
 'Michel Preud Homme' 'Dragan Stojkovic' 'Gyula Grosics' 'El Hadji Diouf'
 'Yoann Gourcuff' 'Kolo Toure' 'DjibriI Cisse' 'Ricardo Carvalho'
 'David Ginola' 'Harald Schumacher' 'Henrik Larsson' 'Nani' 'Diego Costa '
 'Gary Pallister' 'Asamoah Gyan' 'Gordon Strachan' 'Dean Saunders'
 'Marc Overmars' 'Gerhard Hanappi' 'Mario Coluna' 'Valery Voronin'
 'Youri Djorkaeff' 'Sylvain Wiltord' 'Frederic Kanoute' 'Sandor Kocsis'
 'Ivan Rakitic' 'Ronnie Hellstrom' 'Wilfried Van Moer' 'Sandor Mazzola'
 'Pat Jennings' 'Franco Causio' 'Rainer Bonhof' 'Bruno Pezzey'
 'Ronald Koeman' 'Juninho' 'Philippe Albert' 'Jean Marie Pfaff'
 'Brian Laudrup' 'Luca Toni' 'Roberto Bettega' 'Andrey Arshavin'
 'Lajos Tichy' 'Juan Sebastian Veron' 'Geoff Hurst' 'Alessandro Altobelli'
 'Oliver Bierhoff' 'Pauleta' 'Virgil van Dijk' 'Luis Enrique'
 'Wesley Sneijder' 'Milan Baros' 'Dani Alves' 'Papa Bouba Diop'
 'Christian Ziege' 'Ludovic Giuly' 'Cris ' 'Diego Godin'
 'Fernando Morientes' 'Gaizka Mendieta' 'Jamie Carragher' 'Ivan Kolev'
 'Albert Shesternyov' 'Alan Ball' 'Ove Kindvall' 'Wlodzimierz Lubanski'
 'Giancarlo Antognoni' 'Liam Brady' 'Glenn Hysen' 'Clarence Seedorf'
 'Alessandro Nesta' 'Chris Waddle' 'Adriano' 'Danny Blanchflower'
 'John Wark' 'Raphael Varane' 'Robinho ' 'Helmut Haller '
 'Gonzalo Higuain' 'Ralf Edstrom' 'Michel' 'Jose Altafini'
 'Georgi Asparuhov' 'Graeme Souness' 'Hansi Muller' 'Soren Lerby'
 'Stephane Chapuisat' 'Rui Costa' 'Filippo Inzaghi' 'Luis Garcia'
 'Jozsef Bozsik' 'Manuel Amoros' 'Gianluca Zambrotta' 'Carles Puyol'
 'Alisson' 'Fabrizio Ravanelli' 'Jan Tomaszewski' 'Bebeto'
 'Igor Chislenko' 'Walter Schachner' 'Pierre Littbarski'
 'Robert Prosinecki' 'Julio Cesar Soares' 'Erwin Vandenbergh'
 'Daniel Passarella' 'Rui Patricio' 'Jose Antonio Reyes' 'Des Walker'
 'Maniche' 'Junichi Inamoto' 'Mark Hateley' 'Dominique Rocheteau'
 'Julio Salinas' 'Dries Mertens' 'Eduard Streltsov' 'Jef Jurion'
 'Dragonslav Sekularac' 'Andrej Kvasnak' 'Janos Gorocs' 'Louis Pilot'
 'Mario Corso' 'Billy Bremner' 'Trevor Brooking' 'Dudu Georgescu'
 'Zdenek Nehoda' 'Morten Olsen' 'Joao Resende Alves'
 'Oleksiy Mykhaylychenko' 'Stefan Effenberg' 'Roy Makaay'
 'Juan Roman Riquelme' 'Martin Dahlin' 'Jan Oblak' 'Krasimir Balakov'
 'Gennaro Gattuso' 'Didier Deschamps' 'Gregory Coupet' 'Jon Dahl Tomasson'
 'Paulo Dybala' 'Isco' 'Walter Zenga' 'Agne Simonsson' 'Jose Augusto'
 'Jose Augusto Torres' 'Milan Galic' 'Jesper Olsen' 'Nils Liedholm'
 'Jurgen Croy' 'Antonin Panenka' 'Trevor Francis' 'Dieter Muller'
 'Klaus Allofs' 'Ronald de Boer' 'Karoly Sandor' 'Josip Skoblar'
 'Janos Farkas' 'Angelo Domenghini' 'Branko Oblak' 'Juan Manuel Asensi'
 'Rene van de Kerkhof' 'Horst Hrubesch' 'Luis Arconada'
 'Vladimir Petrovic' 'Bruno Conti' 'Maxime Bossis' 'Safet Susic'
 'Luis Fernandez' 'Bixente Lizarazu' 'Claudio Lopez' 'Viliam Schrojf'
 'Ernst Ocwirik' 'Hasan Sas' 'Alen Boksic' 'Gunnar Gren' 'Harry Gregg'
 'Roberto Ayala' 'Tony Yeboah' 'Karl Heinz Riedle' 'Javier Mascherano'
 'Uli Hoeness' 'Tiago Mendes' 'Johnny Rep' 'Jozef Mlynarczyk'
 'Valentin Ivanov' 'Gianluca Pagliuca' 'Marc Wilmots' 'Socrates'
 'Packie Bonner' 'Gerard Pique' 'Martin Peters' 'Wlodzimierz Smolarek'
 'Glenn Hoddle' 'Rai' 'Adrain Mutu' 'Jose Aguas' 'Jack Charlton'
 'Ladislav Novak' 'Luis del Sol' 'Slava Metreveli' 'Horst Nemec'
 'Franny Lee' 'Mimis Domazos' 'Nestor Combin' 'Willi Schulz'
 'Yevgeniy Rudakov' 'Antal Dunai' 'Murtaz Khurtsilava' 'Piet Keizer '
 'Tommy Gemmell' 'Terry Cooper' 'Jupp Heynckes' 'Hans Jurgen Kreische'
 'Ruud Geels' 'Jean Marc Guillou' 'Barry Hulshoff' 'Gordon McQueen'
 'Marian Masny' 'Eric Gerets' 'Manfred Kaltz' 'Torbjorn Nilsson'
 'Gerard Janvion' 'Herbert Prohaska' 'Uli Stielike' 'Dominique Bathenay'
 'Andras Toroczik' 'Frenando Gomes' 'Ladislav Vizek' 'Hans Peter Briegel'
 'Dimitris Saravakos' 'Anatoliy Demyanenko' 'Guido Buchwald'
 'Oleh Kuznetsov' 'Roberto Mancini' 'Rune Bratseth' 'Flemming Povlsen'
 'Giuseppe Signori' 'Thomas Hassler' 'Zvonimir Boban' 'Sonny Andreson'
 'Paulo Sousa' 'Zlatko Zahovic' 'Frencesco Toldo' 'Giovane Elber'
 'Mario Jardel' 'Ruben Baraja' 'Emerson' 'Pablo Aimar' 'Maicon Sisenando'
 'Laszlo Kubala' 'Jim Baxter' 'Pierre van Hooijdonk' 'Finidi George'
 'Ricardo Zamora' 'Jose Nasazzi' 'Jose Sanramaria' 'Cesare Maldini'
 'Seol Ki Hyeon' 'Hidetoshi Nakata' 'Koke' 'Mahamadou Diarra'
 'Karel Poborsky' 'Max Morlock' 'Viv Anderson' 'Kennet Anderson '
 'Anatoliy Byshovets' 'Marcelo Salas' 'Roger Piantoni'
 'Jose Luis Caminero' 'Luis Fabiano' 'Leonardo Bonucci'
 'Theodoros Zagorakis' 'Antoni Ramallets' 'Ivor Allchurch'
 'Viktor Ponedelnik' 'Archie Gemmill' 'Florea Dumitrache' 'Heinz Flohe'
 'Roland Sandberg' 'Klaus Fischer' 'Arie Haan' 'Joachim Streich'
 'Silviu Lung' 'Didier Six' 'Marco Tardelli ' 'Andreas Kopke'
 'Yordan Letchkov' 'Dino Baggio' 'John Jensen' 'Cafu' 'Charles Antenen'
 'Giampiero Boniperti' 'Lennart Skoglund' 'Colin McDonald'
 'Georgi Naydenov' 'Karl Koller' 'Milos Milutinovic' 'Joaquin Peiro'
 'Erno Solymosi' 'Peter Lorimer' 'Sigfried Held' 'Josip Katalinski'
 'Jurgen Grabowski' 'Jurgen Sparwasser' 'Manuel Bento' 'Jerzy Gorgon'
 'Vladislav Bogicevic' 'Francesco Graziani' 'Willy van de Kerkhof'
 'Ramaz Shengelia' 'Aleksandre Chivadze' 'Steve Archibald'
 'Carlos Manuel Santos' 'Frankie Vercauteren' 'Thomas Ravelli'
 'Enzo Francescoli' 'Lajos Detari' 'Carlos Valderrama' 'Oleg Protassov'
 'Pavlo Yakovenko' 'Georges Grun' 'Norman Whiteside' 'Toni Polster'
 'Txiki Begriristain' 'Emil Kostadinov' 'Andreas Herzog'
 'Sinisa Mihajlovic' 'Hakan Sukur' 'Pep Guardiola' 'Vitor Baia'
 'Victor Ikpeba' 'Bernd Schneider' 'Ebbe Sand' 'Edmilson' 'Jan Koller'
 'Juan Carlos Valeron' 'Emmanuel Olisadebe' 'Fabio Grosso' 'Edison Mendez'
 'Shunsuke Nakamura' 'Javier Saviola' 'Ricardo Quaresma' 'Mark van Bommel'
 'Eric Abidal' 'Jaap Stam' 'Vicente Rodriguez' 'Dixie Dean'
 'Stefan Bozhkov' 'Kees Rijvers' 'Roger Marche' 'Robert Jonquet'
 'Vujadin Boskov' 'Bengt Gustavsson' 'Campanal II' 'Joseph Ujlaki'
 'Svatopluk Pluskal' 'Thadee Cisowski' 'Ake Johansson' 'Karl Stotz'
 'Orvar Bergmark' 'Igor Netto' 'Jimmy Mcllroy' 'Joan Segarra'
 'Tommy Taylor' 'Yuriy Voynov' 'Bobby Smith' 'Dezso Bundzsak'
 'Dumitru Macri' 'Julio Botelho' 'Manfred Kaiser' 'Alberto Costa Pereira'
 'Andre Lerond' 'Blagoje Vidinic' 'Borivoje Kostic'
 'Germano de Figueiredo' 'Norbert Eschmann' 'Bretislav Dolejsi'
 'Erich Hof' 'Pierre Bernard' 'Rudolf Kucera' 'Lucien Muller'
 'Miguel Montuori' 'Pepillo ll' 'Titus Bubernik' 'Coen Moulijn'
 'Jozef Adamec' 'Metin Oktay' 'Mikheil Meskhi' 'Ole Madsen'
 'Antonio Angelillo' 'Ezio Pascutti' 'Bruno Nicole' 'Harry Bild'
 'Nikola Kotkov' 'Zygfryd Szoltysik' 'Gernot Fraydl' 'Johnny Giles'
 'Ken Jones' 'Robert Herbin' 'Angelo Sormani' 'Giorgos Sideris'
 'Jean Djorkaeff' 'Mirsad Fazlagic' 'Tony Dunne' 'Zvezdan Cebinac'
 'Francis Lee' 'Giovanni Trapattoni' 'Ivica Osim' 'Jean Nicolay'
 'Gert Dorfel' 'Gilbert Gress' 'Ivan Curkovic ' 'Klaus Urbanczyk'
 'Jakob Kuhn' 'John Greig' 'Philippe Gondet' 'Franz Hasil'
 'Jorn Bjerregaard' 'Manuel Velazquez' 'Martin Chivers' 'Petar Zhekov'
 'Rinus Israel' 'Willem van Hanegem' 'Gerrie Muhren' 'Emlyn Hughes'
 'Giorgio Chinaglia' 'Pedro de Felipe' 'Carles Rexach' 'Jan Pivarnik'
 'Jaroslav Pollak' 'Pierino Prati' 'Robert Gadocha' 'Vladimir Muntyan'
 'Colin Todd' 'Cornel Dinu' 'Andres Linderoth' 'David Kipiani']

In [98]:
#Contar la frecuencia de los valores, para detectar nombres mal escritos o duplicados
Frecuencia_Valores = Best_Players['Name '].value_counts()
print(Frecuencia_Valores)

Name
Pele                  1
Murtaz Khurtsilava    1
Slava Metreveli       1
Horst Nemec           1
Franny Lee            1
                     ..
Paul McGrath          1
Mario Balotelli       1
Philippe Coutinho     1
Tim Cahill            1
David Kipiani         1
Name: count, Length: 700, dtype: int64

Se confirma explorando la variable Frecuencia_Valores que no hay nombres repetidios

In [99]:
#Se confirmo en la exploración incial que el nombre del jugador Cristiano Ronaldo, esta mal escrito por lo cual se realiza la corrección
Best_Players['Name '] = Best_Players['Name '].replace({'Cristioano Ronaldo ':'Cristiano Ronaldo'})

In [100]:
#Se Confirma el error corregido volviendo a imprimir el data frame
Best_Players.head()

,Unnamed: 0,Name,Born,Position,Debut Year,Nationality,Club
0,0,Pele,1940,Forward,1956,Brazil,New York Cosmos
1,1,Cristiano Ronaldo,1985,Forward,2002,Portugal,Manchester United
2,2,Lionel Messi,1987,Forward,2003,Argentina,Paris Saint Germain
3,3,Diego Maradona,1960,Midfilder,1976,Argentina,Newll's Old Boys
4,4,Franz Beckenbauer,1945,Defender,1964,Germany,New York Cosmos

Para continuar enriqueciendo la data a partir de los datos suministrados, se propone agregar la columna de la edad acutal al año 2024 tiendo en cuenta la fecha de nacimiento de los jugadores

In [101]:
#Importar el módulo datetime
from datetime import datetime

In [103]:
#Calcular la fecha actual
today = datetime.now()

In [104]:
#Calcular la edad basada en el año de nacimiento
Best_Players['Age'] = today.year - Best_Players['Born']

In [105]:
#Se confirma que la columna haya sido agregada
Best_Players.head()

,Unnamed: 0,Name,Born,Position,Debut Year,Nationality,Club,Age
0,0,Pele,1940,Forward,1956,Brazil,New York Cosmos,84
1,1,Cristiano Ronaldo,1985,Forward,2002,Portugal,Manchester United,39
2,2,Lionel Messi,1987,Forward,2003,Argentina,Paris Saint Germain,37
3,3,Diego Maradona,1960,Midfilder,1976,Argentina,Newll's Old Boys,64
4,4,Franz Beckenbauer,1945,Defender,1964,Germany,New York Cosmos,79

Ya teniendo la columna creada, para efectos de lectura, se solicitia que la columna 'Age', se ubique al lado de la columna 'born'

In [106]:
#Obtener la lista de columnas
cols = Best_Players.columns.tolist()

In [107]:
#Encontrar los indices de 'Born' y 'Age'
born_index = cols.index('Born')
age_index = cols.index('Age')

In [108]:
#Mover 'Age' al lado de 'Born'
if age_index > born_index:
    cols.insert(born_index + 1, cols.pop(age_index))

In [109]:
#Aplicar el Nuevo Orden de Columnas al DataFrame
Best_Players = Best_Players[cols]

In [110]:
#confirmar los cambios aplicados
Best_Players.head()

,Unnamed: 0,Name,Born,Age,Position,Debut Year,Nationality,Club
0,0,Pele,1940,84,Forward,1956,Brazil,New York Cosmos
1,1,Cristiano Ronaldo,1985,39,Forward,2002,Portugal,Manchester United
2,2,Lionel Messi,1987,37,Forward,2003,Argentina,Paris Saint Germain
3,3,Diego Maradona,1960,64,Midfilder,1976,Argentina,Newll's Old Boys
4,4,Franz Beckenbauer,1945,79,Defender,1964,Germany,New York Cosmos

En cuanto a eliminación de columnas, se observa que las columnas 'Index' y 'Unnamed' presentan los mismos valores, por lo cual para efectos de identificación de columnas, se opta por eliminar la columna 'Unnamed'

In [113]:
#Eliminación de la columna 'Unnamed'
Best_Players = Best_Players.drop(columns=['Unnamed: 0'])

In [114]:
#Verificación de los cambios 
Best_Players.head()

,Name,Born,Age,Position,Debut Year,Nationality,Club
0,Pele,1940,84,Forward,1956,Brazil,New York Cosmos
1,Cristiano Ronaldo,1985,39,Forward,2002,Portugal,Manchester United
2,Lionel Messi,1987,37,Forward,2003,Argentina,Paris Saint Germain
3,Diego Maradona,1960,64,Midfilder,1976,Argentina,Newll's Old Boys
4,Franz Beckenbauer,1945,79,Defender,1964,Germany,New York Cosmos